Project/Sentinel-5P_Spain.GTiff
Project/Sentinel-5P_Spain3857.GTiff
Project/Gas_Timeseries_results/Gas_timeseries.csv
Project/Sentinel-2_truecolour.GTiff
Project/Sentinel-2_no_emissionMBMP.GTiff
Project/Sentinel-2_active_emissionMBMP.GTiff
/Week1
/Week2
/Week3
/Week4
/Week5
/Project/.ipynb_checkpoints
/.idea
/.ipynb_checkpoints
