.ipynb_checkpoints/
.idea/
/Arc
Project/NDVI Time series using openEO.ipynb
*.lock
Project/Data/madrid_landfills_buff_1km.qmd
Project/swir-results/timeseries-basic.csv
Project/swir-results/timeseries-basic.csv
Project/CH4-results/CH4_timeseries.csv
